.label {
    display: flex;
    align-items: center;
}

.label input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
    margin-left: 20px;
    border-radius: 4px;
}