.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
       
}
.label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.inputName{
    margin-left: 26px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.inputNumber {
    margin-left: 10px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;

}

.form button {
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: #9baba7;
}