.label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.label input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
    margin-left: 20px;
    border-radius: 4px;
}

.form button {
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: #9baba7;
}