.list {
    background-color: #acb5c2;
    padding: 20px;
    width: auto;
    list-style: none;
    border-radius: 10px;
}

.item {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px;
    width: 100%;
    height: 30px;
}


button {
    width: 110px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid grey;
}

.list button {

    width: 70px;
    height: 28px;
    font-size: 16px;
    font-weight: 500;
}


button:hover {
    background-color: #31344d;
    color: #fff;
}