.container {
    height: 40px;
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 4px;
}

.text {
    font-weight: 700;
    margin-right: 12px;
    color: #3fdb18;
}

.userBtn {
    width: 80px;
    height: 30px;
    font-weight: 700;
}

.userBtn:hover{
    background-color: #ed0e0e;
    color: #fff;
    border: none;
}
